<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Персонаж</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="alignment">
        Олександр Грозовий
    </h1>
    <ul class="alignment">
        <li>Вік: 32 роки</li>
        <li>Стать: чоловік</li>
        <li>Очі: сірі, як ранковий туман</li>
        <li>Зріст: 187 см</li>
        <li>Характер: впертий, мудрий, з тонким почуттям гумору</li>
        <li>Особливі вміння: керування порталами, розпізнавання магічної енергії, знання стародавніх мов</li>
        <li>Улюблена зброя: меч із уламком зірки</li>
        <li>Страх: залишитися назавжди у світі без магії</li>
        <li>Символ: амулет із бурштину, що світиться під час небезпеки</li>
    </ul>
    <h2 class="alignment">Чим займається персонаж:</h2>
    <p class="alignment">
        Олександр Грозовий — дослідник паралельних світів, який шукає втрачені джерела магії. Його завдання — не тільки відкривати портали між вимірами, а й утримувати баланс між ними. Подорожуючи крізь тумани часу та простору, він розгадує загадки забутих цивілізацій, рятує світи від руйнування й шукає істину про власне походження.
    </p>
    <p><img src="/static/char.png" class="pic"></p>

</body>
</html>