<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker Game</title>
    <script src="static/script.js"></script>
    <link rel="stylesheet" href="static/scripting.css">
</head>
<body id="bodyc" style="background-color: #FFFFFF;">

<h1>Clicker Game</h1>
<div id="counter">0</div>
<button id="clickButton" class="button-19">Клікни мене!</button>
<button id="resetButton" class="button-20">Стерти дані!</button>
<script src="/static/script.js"></script>
</body>
</html>