<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker Game</title>
    <link rel="stylesheet" href="static/scripting.css">
</head>
<body id="bodyc" style="background-color: #FFFFFF;">

<h1>Clicker Game</h1>
<div id="counter"> {{ clicks }}</div>
<button id="clickButton" class="button-19"><a href="/add">Клікни мене!</a></button>
<button id="resetButton" class="button-20">Стерти дані!</button>
</body>
</html>